.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}
.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-left: 390px;
  padding-top: 10px;
}
.menu-list li {
  padding: 12px;
}
.menu-area {
  display: flex;
  justify-content: space-between;
}
.search-box {
  padding-top: 30px;
  padding-right: 40px;
}
.search {
  border: none;
  border-bottom: 1px solid grey;
  text-align: center;
  padding-left: 20px;
}
.card-img {
  width: 200px;
  height: 400px;
}
.card-img:hover {
  transform: scale(1.1);
  transition: all 0.2s linear;
}
.product-img {
  display: flex;
  justify-content: flex-end;
}
